[data-ColorWheel]{
    background: conic-gradient(from 90deg,
    rgb(255 0 0),
    rgb(255 255 0), 
    rgb(0 255 0), 
    rgb(0 255 255), 
    rgb(0 0 255), 
    rgb(255 0 255), 
    rgb(255 0 0)
    );

    background: radial-gradient(circle closest-side,
     rgb(255 255 255),
     rgb(0 0 0) 90%),
    conic-gradient(
     rgb(128 0 255),
     rgb(255 0 255),
     rgb(255 0 128),
     rgb(255 0 0),
     rgb(255 128 0),
     rgb(255 255 0),
     rgb(128 255 0),
     rgb(0 255 0),
     rgb(0 255 128),
     rgb(0 255 255),
     rgb(0 128 255),
     rgb(0 0 255),
     rgb(128 0 255)
     );

    background-blend-mode: screen;
        position: absolute;
        width: 500px;
        height: 500px;
        margin-top: 0px;
        border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* background: conic-gradient(from 90deg,
rgb(255 0 0), 
rgb(255 255 0), 
rgb(0 255 0), 
rgb(0 255 255), 
rgb(0 0 255), 
rgb(255 0 255), 
rgb(128 0 0)
); */

/* background: conic-gradient(from 0deg,
rgb(255 0 0), 
rgb(255 125 0), 
rgb(255 255 0), 
rgb(0 255 0), 
rgb(0 255 255), 
rgb(0 0 255), 
rgb(255 0 255)
); */

#coordinateCircle{
    pointer-events: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    /* background: rgb(255 0 0); */
    border: 1px solid rgb(0 0 0);
    box-sizing: border-box;
}

.DefaultColorItem{
    /* pointer-events: none; */
    width: 25px;
    height: 25px;
    border: 1px solid #707070;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
}