.RGBColorBlockStyle {
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 9997;
    width: 56px;
    height: 56px;
    // background-color: #000000eb;
    // border-style: solid;
    // border-color: #ff5700;
    box-sizing: border-box;
    border-radius: 16%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.PERKEYBlockStyle {
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 9997;
    width: 56px;
    height: 56px;
    // background-color: #000000eb;
    // border-style: solid;
    // border-color: #ff5700;
    box-sizing: border-box;
    border-radius: 16%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

}

.SoundVolumeBlockStyle{
    justify-content: center;
    align-items: end;
    position: absolute;
    z-index: 9997;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 16%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);


}

