.M_Light_APMode_Btn{
    height: 52px;
    position: absolute;
    width: 77px;
    text-align: center;
    background-image: url(./image/Share/Off/BoxState.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 28%;
    word-break: keep-all;
    font-size: 14px;
}
.C_text{
    text-align: center;
    width: 100%;
    height: 20%;
    margin-top: 60%;
}



