<!-- <div *ngFor="let item of this.router.config; let i = index" class="NumKeyBindSourceItem">
    <div style="position: absolute;left: 15%;user-select: none;" data-keyTitle="Key">{{item}}</div>
  </div> -->
<!-- <li *ngFor="let item of customRouteList ;let i = index" [style.background-color]="selectPageIndex==i?'rgb(153,255,255)':'rgb(255,255,255)'"
      (click)="this.router.navigate(['/'+item.path])">
      {{item.path}} 
      </li> -->
<!-- <div id="AllArea" class="list-group">


</div> -->



<div id="Area1" class="GroupArea" >

  <div id="Keyboard Sample Demo" class="list-group">
    <input id="toggle" class="btn-toggle" type="checkbox" checked>
    <label class="toggleBtn" for="toggle">Keyboard Sample Demo</label>
    <ul>
      <li routerLink="/KeyBoard_RGB" routerLinkActive="active">KeyBoard_RGB</li>
      <li routerLink="/numpad-keyboard" routerLinkActive="active">numpad-keyboard</li>
      <li routerLink="/perixx" routerLinkActive="active">perixx</li>
    </ul>
  </div>
  <div id="Practice Example" class="list-group">
    <input id="toggle2" class="btn-toggle" type="checkbox" checked>
    <label class="toggleBtn" for="toggle2">GGYY Practice Example</label>
    <ul>
      <li routerLink="/ThreeJSTest" routerLinkActive="active">3DJS Test</li>
      <li routerLink="/ThreeGltfsheen" routerLinkActive="active">3DJS Gltfsheen</li>
      

    </ul>
  </div>
  <div id="Practice Example" class="list-group">
    <input id="toggle3" class="btn-toggle" type="checkbox" checked>
    <label class="toggleBtn" for="toggle3">吳鳳接晷</label>
    <ul>
      

    </ul>
  </div>


</div>
